/* for body */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* for search field */
.search-field {
  border: none;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(211, 96, 19);
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
  margin-bottom: 50px;
}

/* for search button */
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 21px;
}

/* for products */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  height: 480px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #f4f4f7;
  border-radius: 10px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  background-color: #dfdfe7;
  border-radius: 10px;
  border: 1px solid rgb(214, 96, 16);
}
.product-image {
  width: 150px;
  height: 150px;
}

/* for cart */
.cart {
  width: 350px;
  transition: 0.6s;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart:hover{
  background-color: #adadc1;
  border: 1px solid rgb(12, 193, 84);
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

/* for media query */
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
